

      <div class="navbar-fixed">
        <nav class="blue">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">JKW Enterprises</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class='white-text menu-text'  style="font-weight: 900;" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <ul class="sidenav" id="mobile-nav">
       <li><a href="/">Home</a></li>

    </ul>

